*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1,h2,h3,h4,h4,p,a, span{
    font-family: 'Lato', sans-serif;
}

header{
    background: #2c3e50;
    padding: 15px 0;
}
header nav{
    width: 50%;
    margin: auto;
    
}
header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
header nav ul li a img{}

.content{
    display: flex;
    background-color: #5CBAFF;
    height: 95vh;
}

.left_img{
    width: 40%;
    color: #5CBAFF;
    text-align: center;
}

.left_img img{
    width: 90%;
}

.contact_form{
    width: 60%;
    background-color: #0093ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    width: 40%;
 

}
.contact h1{
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    color: #fff;
}
.contact p{
    color: #fff;
    margin: 10px 0 20px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
}
.contact h5{
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}
.contact_form{

}
.contact_form input{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 0 10px 10px;
    border: none;
}

.contact_form input[type="submit"]{
    width: auto;
    padding: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    color: #0093ff;
}

.other-links{
    margin-top: 38px;
    margin-bottom: 30px;
    color: #fff;
}
.other-links a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.other-links span{
    font-size: 12px;
    font-weight: 300;  
}

.other-links a i{
    width: 18px;
    height: 18px;
    font-size: 9px;
    margin-left: 0;
}